@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";
  @keyframes slideDown {
    from {
      height: 0;
    }
    to {
      height: var(--radix-accordion-content-height);
    }
  }

  @keyframes slideUp {
    from {
      height: var(--radix-accordion-content-height);
    }
    to {
      height: 0;
    }
  }

@theme {
  --color-green-100: #6CD4A1;
  --color-green-200: #0D321F;
  --color-purple-100: #D1B8FF;
  --color-purple-200: #3D008A;
  --color-purple-50: #8950DF;
  --font-poppin: 'Poppins', 'sans-serif';



  /* Animation utility classes */
  --animation-slideDown: slideDown 300ms ease-out;
  --animation-slideUp: slideUp 300ms ease-out;
}